# Try loading the arcgisbinding

In [1]:
library(arcgisbinding)
arc.check_product()

*** Please call arc.check_product() to define a desktop license.

product: ArcGIS Pro ( 12.1.0.10257 )
license: Advanced
version: 1.0.1.208

In [2]:
input_data = "C:/PROJECTS/R_BRIDGE/r-sample-tools-master/Seagrass.gdb/EMUs_Florida_Subset"
d <- arc.open(input_data)

In [3]:
d_df_full <- arc.select(d)

In [4]:
head(d_df_full)

  OBJECTID OBJECTID_1 pointid Seagrass temp     salinity nitrate
1 1        1           197276 1        23.40199 34.96389 NA
2 2        2           198118 1        23.45050 35.01641 NA
3 3        3           198960 1        23.47861 35.09651 NA
4 4        4          7555842 1        23.32539 35.08290 NA
5 5        5          7556684 1        23.35969 35.09720 NA
6 6        6          7557525 1        23.37109 35.15391 NA
  silicate_CalcField phosphate_CalcField dissO2_CalcField EBK_nitrate
1 4.706984           0.1366675           5.065754         0.3170178
2 5.031047           0.1335468           5.028101         0.3680477
3 5.072901           0.1326572           5.017826         0.3838250
4 4.706984           0.1366675           5.065754         0.3170178
5 5.031047           0.1335468           5.028101         0.3680477
6 5.072901           0.1326572           5.017826         0.3838250
  nitrate_CalcField
1 0.3170178
2 0.3680477
3 0.3838250
4 0.3170178
5 0.3680477
6 0.3838250

In [5]:
tail(d_df_full)

     OBJECTID OBJECTID_1 pointid  Seagrass temp     salinity nitrate
5567 5567     5569       21211016 0        27.73251 36.10109        NA
5568 5568     5570       21211017 0        26.76391 36.30901        NA
5569 5569     5571       21211018 0        26.83391 36.33859        NA
5570 5570     5572       21211019 0        26.88861 36.35799        NA
5571 5571     5573       21211020 0        26.92181 36.37840        NA
5572 5572     5574       21211021 0        26.94729 36.38551 0.5180613
     silicate_CalcField phosphate_CalcField dissO2_CalcField EBK_nitrate
5567 3.990829           0.13862170          4.493684         2.1979926
5568 1.956519           0.05937159          4.563109         0.9446583
5569 2.048069           0.06225080          4.568600         0.9167514
5570 2.215459           0.06767644          4.583409         0.8382264
5571 2.457869           0.07446024          4.609344         0.7220694
5572 2.702261           0.07475934          4.654354         0.5777277
     nitrate_CalcField
5567 2.1979926
5568 0.9446583
5569 0.9167514
5570 0.8382264
5571 0.7220694
5572 0.5180613

## It Worked!

- clone env
- deactivate env
- activate cloned env
- conda install -c r r-essentials
https://www.datacamp.com/community/blog/jupyter-notebook-r